[Desktop Entry]
Name=DJ Mix Player
Comment=Player de músicas para DJs com múltiplas saídas de áudio
Exec=djmixplayer
Icon=io.github.rafalau.DjMixPlayer
Terminal=false
Type=Application
Categories=Audio;Music;Player;
StartupNotify=true
